<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">{{title}}</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <th>Username</th>
        <th>Recent Points</th>
        <th>Alltime Points</th>
      </thead>
      <tbody>
        <tr *ngFor="let camper of recent">
          <td>
            <img [src]="camper.img" [alt]="camper.username" width="50" height="50">
            {{camper.username}}
          </td>
          <td>{{camper.recent}}</td>
          <td>{{camper.alltime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
