<div class="table-responsive" *ngIf="campers">
  <table class="table table-striped">
    <thead>
      <th><span class="sr-only">Rank</span></th>
      <th>Username</th>
      <th>Recent Points</th>
      <th>Alltime Points</th>
    </thead>
    <tbody>
      <tr *ngFor="let camper of campers; let i = index">
        <td>{{i + 1}}</td>
        <td>
          <a [href]="'https://github.com/' + camper.username" target="_blank">
            <img [src]="camper.img" [alt]="camper.username">
            {{camper.username}}
          </a>
        </td>
        <td>{{camper.recent}}</td>
        <td>{{camper.alltime}}</td>
      </tr>
    </tbody>
  </table>
</div>

<p class="text-center lead" *ngIf="!campers">
  <span class="fa fa-refresh fa-spin" aria-hidden="true"></span>
  Hold on...
</p>
